<div id="library" class="index container">
  <div class="row">
    <div class="valign-wrapper">
      <%= form_tag search_path, :method => :get, :class => "col s12 valign" do %>

        <div class="row title center-align">
          <h1>OurNaropa Library Search</h1>
          <p>Search Naropa's libraries, CU's libraries, and the Boulder Public Library all at once.</p>
        </div>

        <div class="row">
          <div class="input-field col s10">
            <i class="material-icons prefix">search</i>
              <%= text_field_tag(:query, @query, :class => "validate", :type => "text") %>
              <%= label_tag :query, "What are you looking for today...?" %>
          </div>
          <div class="col s2">
            <button type="submit" class="waves-effect waves-light btn-large">Search</button>
          </div>
        </div>
      
      
        <div class="row">
          <div class="col s12 center-align">
            <%= check_box_tag :naropa, 'true', true, :class => "filled-in" %>
            <%= label_tag(:naropa, "Naropa Libraries") %> 

            <%= check_box_tag :cu, 'true', true, :class => "filled-in" %>
            <%= label_tag(:cu, "CU Libraries") %> 

            <%= check_box_tag :bpl, 'true', true, :class => "filled-in" %>
            <%= label_tag(:bpl, "Boulder Public Library") %>
          </div>          
          
        </div>


      <% end %>
    </div>
  </div>

</div>