<div id="library" class="show container">
  <div class="row">
    <div class="valign-wrapper">
      <%= form_tag search_path, :method => :get, :class => "col s12 valign" do %>

        <div class="row title">
          <h1 class="center-align">OurNaropa Library Search</h1>
        </div>

        <div class="row">
          <div class="input-field col s10">
            <i class="material-icons prefix">search</i>
              <%= text_field_tag(:query, @query, :class => "validate", :type => "text") %>
              <%= label_tag :query, "What are you looking for today...?" %>
          </div>
          <div class="col s2">
            <button type="submit" class="waves-effect waves-light btn-large">Search</button>
          </div>
        </div>
      
      
        <div class="row">
          <div class="col s12 center-align">
            <%= check_box_tag :naropa, 'true', @search_naropa, :class => "filled-in" %>
            <%= label_tag(:naropa, "Naropa Libraries") %> 

            <%= check_box_tag :cu, 'true', @search_cu, :class => "filled-in" %>
            <%= label_tag(:cu, "CU Libraries") %> 

            <%= check_box_tag :bpl, 'true', @search_bpl, :class => "filled-in" %>
            <%= label_tag(:bpl, "Boulder Public Library") %>
          </div>          
          
        </div>


      <% end %>
    </div>
  </div>
  
  
  <% schools = "naropa", "cu", "bpl" %>

  <div id="results">
    
    <!-- loading stuff -->
    <% schools.each do |school| %>  

      <div class="result result-<%= school %> loading">
        <a>
          <div class="row">
            <h6 class="center-align">Searching <%= full_school_name school %></h6>
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
          </div>
        </a>
      </div>
    
    <% end %>
    
    <!-- result spaceholders -->    
    <% for i in 0..num_results_per_source - 1 do %>
      <% schools.each do |school| %>  

        <div class="result result-<%= school %> hover-effect empty">
          <a target="_blank" href="">
            <div class="row">
              <div class="col s2 center-align">
                <%= image_tag school + '-icon.jpeg', :alt => "icon", :class => "circle responsive-img" %>
              </div>
              <div class="col s10 content">
              </div>
            </div>
          </a>
        </div>

      <% end %>
    <% end %>
    
    <!-- view more results links -->
    <% schools.each do |school| %>  

      <div class="result result-<%= school %> hover-effect more">
        <a class="link" target="_blank" href="">
          <div class="row">
            <div class="col s12">
              <h5 class="center-align"><i class="material-icons md-36">launch</i> View more <%= full_school_name school %> results...</h5>
            </div>
          </div>
        </a>
      </div>
    
    <% end %>
    
    <!-- nothinf found -->
    <% schools.each do |school| %>  

      <div class="result result-<%= school %> none">
        <div class="row">
          <div class="col s12">
            <h5 class="center-align"><i class="material-icons md-36">sentiment_dissatisfied</i> No results found within <%= full_school_name school %>.</h5>
          </div>
        </div>
      </div>
    
    <% end %>

  </div>

</div>  
  
<script type="text/javascript">  
  
  window.setTimeout(function() {
    $("div.title").slideUp(1000);
  }, 300);
  
    
  window.setTimeout(function() {
      $(".valign-wrapper").height($("form").height()+50);
    }, 1000);
  
  window.setTimeout(function() {
  
  // search Naropa
  <% if @search_naropa %>
    $(".result-naropa.loading").show(0);
    $.ajax({
      type: "GET",
      url: '<%= fetch_results_path "naropa", @query %>',
      dataType: "script"
    });
  <% end %>
  
  // search CU
  <% if @search_cu %>
    $(".result-cu.loading").show(0);
    $.ajax({
      type: "GET",
      url: '<%= fetch_results_path "cu", @query %>',
      dataType: "script"
    });
  <% end %>
  
  // search BPL
  <% if @search_bpl %>
    $(".result-bpl.loading").show(0);
    $.ajax({
      type: "GET",
      url: '<%= fetch_results_path "bpl", @query %>',
      dataType: "script"
    });
  <% end %>
  }, 2000);
</script>