function show_result(title, author, availability, url) {
    
  $(".result-<%= @school %>.empty .content").first().html(
    "<h5>"+title+"</h5>"
    + "<p>"+author+"</p>"
    + "<p>"+availability+"</p>"
   );
  
  // link
  $(".result-<%= @school %>.empty a").first().attr("href", url);
  
  // enable
  $(".result-<%= @school %>.empty").first().show(0);
  $(".result-<%= @school %>.empty").first().removeClass("empty");
}

// enable view more results
function enable_view_more(url) {
  $(".result-<%= @school %>.more a.link").attr("href", url);
  $(".result-<%= @school %>.more").show(0);
  //console.log("Enabling something");
}

function showResultCount(school, count) {
  $("#"+school+" + label").append(" (" + count + ")");
}


// show result count at top
showResultCount("<%= @school %>", "<%= @result_count %>");

<% # disable loading indicator  %>
$(".result-<%= @school %>.loading").hide(0);

<% if @results.present? %>
  
  // fill in results
  <% @results.each_with_index do |result, index| %>
    
    <% #break this cycle if we have reached the max results
      if index == num_results_per_source
        break
      end %>
  
    show_result("<%= escape_javascript result[:title] %>", "<%= escape_javascript result[:author] %>", "<%= escape_javascript result[:availability].html_safe %>", "<%= escape_javascript result[:url] %>");

  <% end %>
  
  <% # if @results.count > num_results_per_source, then show link to view more results!
    if @results.count > num_results_per_source %>
    enable_view_more("<%= escape_javascript @link_to_results %>");
  <% end %>
  
<% else %>
  $(".result-<%= @school %>.none").show(0);
<% end %>