function addResult(title, author, availability, url) {
  $(".result-<%= @school %>.empty").first().html(
    '<a target="_blank" href="' + url + '">'
    + "<div class=\"result result-<%= escape_javascript @school %>\">"
    + "<p>"+title+"</p>"
    + "<p>"+author+"</p>"
    + "<p>"+availability+"</p>"
    + "</div>"
    + "</a>"
   );
  
  $(".result-<%= @school %>.empty").first().removeClass("empty");
}


<% if @results.present? %>
  <% @results.each do |result| %>
  
    addResult("<%= escape_javascript result[:title] %>", "<%= escape_javascript result[:author] %>", "<%= escape_javascript result[:availability].html_safe %>", "<%= escape_javascript result[:url] %>");

  <% end %>
<% else %>
  $(".result-<%= @school %>.empty").first().html("Nothing found at <%= full_school_name @school %>");
<% end %>